.fib-actions {
  margin: 10px;
}

.btn {
  margin: 0 5px;
}

.fib-window {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif !important;

}

.fib-display {
  background: #7D869C;
  color: #E5E8B6;
  border: 20px solid #586994;
  padding: 40px;
  width: 60%;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
  display: block;
  font-weight: 300 !important;
  max-width: 700px;
}

.log:last-of-type {
  text-decoration: underline;
}

.last {
  text-decoration: underline;
  background: #505664;
  width: fit-content;
  font-style: italic;
}